/*header*/
.imagem01 {
  position: relative;
  background-image: url(../img/paralax.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header-titulo {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
}.frase{top:58%;}  

/*quem somos*/
  .slider {
    width: 45%;
  }

@media (max-width:767px) {
  .slider {
    margin: auto;
    width: 75%;
    margin-bottom: 32px;
  }
}

/*modalidades*/
.container{max-width:1000px;}
.modalidade {
  width: 250px;
  height: 120px;
  margin: auto auto 32px auto;
  border: 4px solid white;
  border-radius: 10px;
}.modalidade i {font-size: 40px;}

.contato-item .icon {
  width: 42px;
  height: 42px;
}.contato-item .bi {font-size: 18.5px;}
#ft{border-bottom:2.5px solid rgb(230, 80, 80);}
.aula-experimental {
  width: 50%;
}
@media (max-width:767px) {
  .aula-experimental {
    width: 75%;
  }
}
/*cards*/
.imagem-academia {
  width: 50%;
}
@media (max-width:767px) {
.imagem-academia {
  margin: auto;
  width: 100%;
  height: 80%;
}
}


/*contatos*/
.informacoes,.mapa{width:50%;}.map{width:95%;}
.informacoes .bi {font-size: 20px;color: #0dcaf0;}
.informacoes a{color:white;}
.informacoes a:hover{color:#0dcaf0;}
/*.informacoes a:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.informacoes a:hover:hover, .informacoes a:hover:focus, .informacoes a:hover:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/
@media (max-width:700px) {
  #contatos .container div{
    display: flex;
    flex-direction: column;      
  }
  .informacoes, .mapa{
    width: 100%;          
  }

  .mapa {
    padding-top: 10px;
  }
}

/* Fade *//*
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}*/

/**EFEITOS HOVER**/
/* Sweep To Top */
.modalidade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.modalidade:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.modalidade:hover, .modalidade:focus, .modalidade:active {
  color: white;
}
.modalidade:hover:before, .modalidade:focus:before, .modalidade:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}